@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --clr-primary: #000;
}


body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #666;
  background-color: #fff;
}


h1 {
  font-size: 27px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #98978b;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
 
}

.active {
  color: #9039FF !important;
}

.unilogowithoutimg
{
  width: 50px;
  height: 40px;
  margin-left: 1rem;
  border-radius: 5px;
  /* border-radius: 1rem; */

}
@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 42px;
    line-height: 50px;
    color: #fff;
  }
  #masthead h1 span {
    color: #fff;
    font-weight: 700;
  }
}

/*
/*

/*

/* Left sidebar styles */

#sidebar .accordion-item {
  border: none !important;
  background-color: transparent !important;
}
 .accordion-button{
  position: relative !important;
  padding: 2px 15px;
  background-color: transparent !important;
  color: #3E3F3A;
  font-size: 15px;
  line-height: 30px;
  color: inherit;
  width: 250px;
  background-color: #a8a3a3;
  font-weight: 700;
}



/* #sidebar .accordion-button:focus {
  border-color: none !important; 
  box-shadow: none !important;
}
#sidebar .accordion-button:not(.collapsed) {
  color: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
} */
#sidebar .accordion-body{
  /* background-color: #fff !important; */
  /* border: 1px solid #d9d9d8 !important; */
  padding: 0px 10px !important;
  margin: 0px 0px 0px 15px !important;
  display: flex;
  flex-direction: column;
}
#sidebar .accordion-body li{
  position: relative;
 ;
}
#sidebar .accordion-body li a{
  color: #3E3F3A;
  padding: 0px 10px;
 
   border: 2px solid #e2e2db !important;
}
#sidebar #sidebarSubMenuAccordion  a{
  padding: 0px 8px !important;
  
}

/* Content styles */
#mainContent {
  margin-bottom: 50px;
}
#mainContent #leftCol {
  position: sticky;
  top: 25px;
  overflow-y:hidden;
  max-height: 100vh;
  overflow-y: scroll;
  margin-top: 20px;
  left: 10px;
  background-color: #f9f9f9;
  border-right: 1px solid rgba(43, 42, 41, .1);
  transition: top 0.3s; 
  
  margin-left: -1.2rem;
}

.toc
{
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 600 !important;
    color: #333;
    margin-bottom: 1rem;
}


.container1:hover {
  background-color: #1d1818; /* Change background color on hover */
}



.active {
  /* Add styles for active state if needed */
}

.unilogocontainer
{
  position: absolute;
  width: 170;
  height: 50px;
  border-radius: 10px;
  top: 160px;
  left: 737px;
  z-index: 1000;
}
.auth1
{
  width: 60px;
  height: 50px;
}


.border {
    border: 1px  #dee2e6 !important;
}
.unilogo
{
  width: 120;
  height: 50px;
  border-radius: 20px;
 
}
.ContentWrapper {
  background: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  padding-left: 4%;
  padding-top: 3%;
  
  
  padding-right: 2%;

  
  
}

/* .container hr {
  border-top: 1px solid #f1f1f1;
  margin-bottom: 30px;
} */
.container a {
  /* color: var(--clr-primary); */
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  text-decoration: none;
  font-weight: bold;
}


.container strong,
.container b {
  color: #888;
}
#leftCol h5 {
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 15px 0px;
  border-bottom: 1px solid #eaeaea;
  line-height: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bold;
}
.button-text {
  background-color: #28406d;
  border-color: #28406d;
  color: #fff !important;
  padding: 15px 30px;
  margin: 30px 0;
  display: inline-block;
}
.important {
  padding: 10px;
  border: 1px solid var(--clr-primary);
  border-left: 5px solid var(--clr-primary);
}
.d-block {
  display: block;
}
.mt-0{
  margin-top: 0 !important;
}
.mb-3{
  margin-bottom: 30px !important;
}
.mb-1{
  margin-bottom: 10px;
}
.Content p
{
  color: #212529;
  font-size: 16px;
  

  font-weight: 400 !important;
  word-spacing: 2px;
  margin-top: 0.6rem;
  
}

.Content h2
{
  margin-top: 0.5rem;
 margin-bottom: -0.1rem;

}

.Content h3
{
  /* margin-top: 0.5rem; */
  /* margin-bottom: -0.1rem; */

}

.Content h4
{
  margin-top: 0.5rem;
  margin-bottom: -0.1rem;

}


.bg-black-shape{
  background: #333;
  color: #fff;
  padding: 20px 20px;
  border-radius: 6px;
}
.collapse-btn{
  display: block;
  position: relative;
  cursor: pointer;
}
.collapse-btn::after{
  position: absolute;
  content: "";
  display: block;
  left: auto;
  right: 0;
  top: 5px;
  width: 9px;
  height: 9px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(225deg);
  transition: .3s;
}
.collapse-btn.collapsed::after{
  transform: rotate(45deg);
}


/* SCROLLBAR START */

/* CSS for the "scroll to top" button */
.back-to-top {
  display: none;
  position: fixed;
  width: 35px;
  height: 35px;
  line-height: 35px;
  right: 30px;
  bottom: 45px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  z-index: 5;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: #9039FF;
}
.back-to-top svg {
  fill: #fff;
  width: 15px;
}


.accordion-item {
  margin-bottom: 10px;
 
}
shadow-1 {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .1);
}
.pt-3 {
  padding-top: 1rem !important;
}
.text-dark {
  --bs-text-opacity: 1;
  color: rgba(33, 37, 41, var(--bs-text-opacity)) !important;
}

p
{
  /* color: #212529; */
  font-size: 14px;
  font-weight: 400 !important;
  word-spacing: 2px;

}

.LeftSidebar
{
  margin-left: 2rem;
}

